#div_dashboard{
    /* background-color: #EFEFEF; */
    background-color: white;
    width: calc(100% - 40px);
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    gap: 5px;
    align-items: center;
    overflow-y: auto;
}

#div_dashboard_header{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    width: 100%;
    max-width: 1200px;
}

#p_tag_dashboard{
    display: flex;
    font-size: 17px;
    gap: 5px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    color: #E8AF1D;
}

#p_adminname{
    font-size: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}

#div_adminicon{
    box-shadow: 0px 0px 1px grey;
    background-color: lime;
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div_welcome_label{
    background-color: white;
    border-radius: 10px;
    border: solid 0px grey;
    box-shadow: 0px 1px 2px;
    min-height: 70px;
    width: calc(100% - 30px);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    padding-right: 20px;
    max-width: calc(1200px - 30px);
}

#img_welcome_icon{
    width: 180px;
    height: 140px;
    margin-top: -70px;
    margin-bottom: -30px;
}

#div_welcome_admin_label{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: -10px;
}

.p_welcome_admin_label{
    margin: 0px;
    text-align: left;
}

.p_welcome_admin_label:first-of-type{
    font-size: 17px;
    font-weight: bold;
}

.p_welcome_admin_label:last-of-type{
    font-size: 13px;
}

#div_mini_stats{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 10px;
    max-width: 1200px;
}

#div_flexed{
    display: flex;
    flex: 1;
}

#btn_msgicon{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #2F2F2F;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

#btn_msgicon:hover{
    border: solid 1px #2F2F2F;
}

.div_mini_stats_section{
    width: none;
}

.div_mini_stats_section:first-of-type{
    /* background-color: aqua; */
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    max-width: 220px;
    padding-left: 5px;
    padding-right: 5px;
}

.div_mini_stats_section:nth-of-type(2){
    background-color: transparent;
    width: 100%;
    display: flex;
    flex: 1;
    /* max-width: 300px; */
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
    flex-direction: column;
}

.div_mini_stats_section:last-of-type{
    /* background-color: green; */
    background-color: white;
    box-shadow: 0px 0px 2px black;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    max-width: 370px;
    height: 200px;
    padding-left: 5px;
    padding-right: 5px;
}

.div_mini_stats_sub_one{
    background-color: #294072;
    border-radius: 10px;
    min-height: 100px;
    width: 100%;
    max-width: 220px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

.div_mini_stats_info:first-of-type{
    background-color: transparent;
    width: 30%;
}

.div_mini_stats_info:last-of-type{
    background-color: transparent;
    width: 70%;
}

.p_info_stats{
    margin: 0px;
    text-align: left;
}

.p_info_stats:first-of-type{
    font-size: 25px;
    font-weight: bold;
}

.p_info_stats:last-of-type{
    font-size: 13px;
}

#div_mini_stats_rating{
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#div_rating_header{
    background-color: transparent;
    width: 100%;
    text-align: left;
    padding-top: 5px;
}

.p_rating_label{
    margin: 0px;
}

.p_rating_label:first-of-type{
    font-size: 15px;
    font-weight: bold;
}

.p_rating_label:last-of-type{
    font-size: 13px;
}

#div_rating_stars{
    background-color: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

#div_rating_bar_holder{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.div_rating_bar{
    background-color: transparent;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.span_star_icon_label{
    font-size: 15px;
    font-weight: bold;
    background-color: transparent;
    width: 20px;
}

.span_rating_bar{
    width: calc(90% - 30px);
    max-width: 300px;
    height: 10px;
    background-color: #D9D9D9;
    border-radius: 10px;
}

.span_rating_inside_bar{
    height: 100%;
    background-color:#FFB905;
    display: flex;
    border-radius: 10px;
}

#div_map_clickable_label{
    background-color: #294072;
    position: relative;
    z-index: 1;
    display: flex;
    margin-bottom: -35px;
    height: 35px;
    color: white;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    cursor: pointer;
}

@media screen and (max-width: 1150px) {
    .div_mini_stats_section:last-of-type{
        margin-top: 20px;
        max-width: none;
        height: 400px;
    }
}

@media screen and (max-width: 768px) {
    .div_mini_stats_section:nth-of-type(2){
        margin-top: 10px;
    }

    .div_mini_stats_sub_one{
        width: 100%;
        max-width: none;
    }

    .div_mini_stats_section:first-of-type{
        width: 100%;
        max-width: none;
    }
}